body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: green;
  }
  
  .game {
    text-align: center;
    padding: 21px;
    background-color: red;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .choice {
    padding: 10px 18px;
    font-size: 18px;
    margin: 12px;
    cursor: pointer;
  }
  #result {
    font-size: 20px;
    font-weight: bold;
  }